<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event</title>
    {% include 'header.html' %}
    <style>
        div.momment-card {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
{% include 'navbar.html' %}
<div class="container" , style="max-width:46rem">
    <div class="header clearfix" , style="margin:20px auto 0;text-align:center">
        <div class="row">
            <div class="col-3">
                <a href="/discover/" title="All types">
                    <h4><span>All types</span></h4>
                </a>
            </div>
            <div class="col-3">
                <a href="/discover/study/" title="stude">
                    <h4><span>Study together</span></h4>
                </a>
            </div>
            <div class="col-3">
                <a href="/discover/eat/" title="eat">
                    <h4><span>Eat together</span></h4>
                </a>
            </div>
            <div class="col-3">
                <a href="/discover/home/" title="home">
                    <h4><span>Go home together</span></h4>
                </a>
            </div>
        </div>
    </div>
    {% for d in events:%}
    <div class="card momment-card">
        {% if d['image'] != None: %}
        {% if d['image'] != "" %}
        <img class="card-img-top" src={{d['image']}}>
        {% endif %}
        {% endif %}
        <div class="card-block">
            <div class="row">
                <div class="col-6">
                    <h4><span style="color:darkblue">Nick name:</span>{{d['nick_name']}}</h4>
                </div>
                <div class="col-6">
                    <h4><span style="color:darkblue">Time:</span>{{d['time']}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h4><span style="color:darkblue">Type:</span>{{d['type']}}</h4>
                </div>
                <div class="col-6">
                    <h4><span style="color:darkblue">Email:</span>{{d['email']}}</h4>
                </div>
            </div>
            <p class="card-text">{{d['content']}}</p>
            <form action='/discover/join/' method='post'>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <button class="btn btn-lg btn-primary float-right btn-block w-75 p-1" type="submit">join</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
</body>


</html>